* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
}

.container {
  display: flex;
  min-height: 96vh;
  height: 100%;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(0deg 0% 20%);
  padding: 10px 10px 20px 10px;
}
.side-active{
  color: white;
}
.sidebar .icon-config {
  font-size: 25px;
  color: hsl(250deg 3% 54%);
  cursor: pointer;
  padding-top: 10px;
}
.sidebar .icon-config:hover {
  color: white;
}
.sidebar .botton-buttons {
  padding-bottom: 20px;
}

.explorer-tab {
  background-color: hsl(0deg 0% 15%);
  width: 200px;
}
.explorer-div h4 {
  color: white;
  font-weight: 400;
  margin: 0px 0px 10px 10px;
}
.explorer-tab .explorer-div {
  display: flex;
  justify-content: space-between;
  margin-right: 10px;
  color: white;
  padding-top: 10px;
}
.explorer-tab .explorer-icon {
  border-radius: 5px;
  cursor: pointer;
  height: 20px;
  width: 20px;
}
.explorer-btn {
  padding-left: 10px;
  padding-bottom: 4px;
  border: none;
  color: white;
  background-color: transparent;
  font-size: 15px;
  cursor: pointer;
}

.explorer-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.explorer-content .item{
  padding-left: 20px;
}
.explorer-content .item a{
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
}
.explorer-content .item:hover{
  background-color: hsl(250deg 5% 23%);
}
.explorer-content p {
  padding: 2px;
  font-size: 15px;
  font-weight: 500;
}

.content {
  background-color:hsl(0deg 0% 12%);
  width: 100%;
}

.content .top-header{
  height: 35px;
  background-color: hsl(0deg 0% 20%);
  display: flex;
  align-items: center;
}
.content .tab div{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 35px;
  border-right: 1px solid hsl(0deg 0% 12%);
}
.content .tab div:hover .hide{
  color: white;
}
.content .tab p{
  margin-right: 5px;
  padding-left: 5px;
}
.explorer-icon{
  border-radius: 5px;
  cursor: pointer;
  height: 20px;
  width: 20px;
}
.explorer-div .explorer-icon:hover{
  background-color: hsl(250deg 5% 23%);
}
.not-save{
  color: hsl(33deg 45% 65%);
}
.save{
  color: hsl(129deg 42% 30%);
}
.hide{
  color: transparent;
}
.div-hamb{
  display: none;
}

.active div{
  background-color: hsl(0deg 0% 12%);
  border-top: 0.5px solid orange;
}

@media(max-width:813px){
   .top-header{
    visibility: hidden;
  }
  .explorer-tab{
    display: none;
  }
  .content .top-header{
    visibility: hidden;
    display: flex;
    flex-direction: column;
    background-color: transparent;
  }
 .content .map{
    display: none;
  }
  .div-hamb{
    display: flex;
    padding: 10px;
  }

  .hamb-menu{
    position: absolute;
    display: flex;
    font-size: 13px;
    margin: 10px 0px 0px 50px;
  }
  .hamb-menu .item{
    padding-left: 25px;
    text-align: center;
  }

}

@media(max-width:544px){
  .sidebar{
    display: none;
  }
  .hamb-menu .item{
    padding-left: 13px;
    font-size: 13px;
  }
}

@media(max-width:449px){
  .hamb-menu .item{
    padding-left: 13px;
    font-size: 7px;
  }
}
