.grid-container {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-areas: "left right r-right";
    grid-template-columns: 50px 300px 1fr;
    grid-template-rows: 1fr;
  }
  .container > div {
    border: 1px dashed #888;
  }

  .left {
    grid-area: left;
  }
  .right {
    grid-area: right;
  }
  .r-right {
    grid-area: r-right;
  }

  /* --------- */

.active div{
  color: white;
  background-color: hsl(0deg 0% 12%);
  
}
.tab a{
  text-decoration: none;
  color: white;
}

.side-active{
  color: white;
}


.sidebar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 93vh;
    background-color: hsl(0deg 0% 20%);
    padding: 10px;
}

/* sidebar left */

.icon-config{
  font-size: 25px;
  color: hsl(250deg 3% 54%);
  cursor: pointer;
  padding-top: 10px;
  
}

.icon-config:hover{
  color: white;
}

.botton-buttons{
  padding-bottom: 20px;
}

/* ----------- */


/* explorer */

.explorer{
  background-color: hsl(0deg 0% 15%);
}
.explorer-div{
  display: flex;
  justify-content: space-between;
  margin-right: 10px;
  color: white;
  padding-top: 10px;
}

.explorer-icon{
  border-radius: 5px;
  cursor: pointer;
  height: 30px;
  width: 30px;
}

.explorer-div .explorer-icon:hover{
  background-color: hsl(250deg 5% 23%);
}

.explorer h4{
  color: white;
  font-weight: 400;
  margin: 0px 0px 10px 10px;
}
.explorer-icon{
  height: 20px;
  width: 20px;
}

.explorer-content{
  font-size: 20px;
}

.explorer .item{
  display: flex;
  font-size: 15px;
}

.explorer p{
  padding: 2px;  
  font-size: 15px;
  font-weight: 500;
  
}

.explorer-btn{
  padding-left: 10px;
  padding-bottom: 4px;
  border: none;
  color: white;
  background-color: transparent;
  font-size: 15px;
  cursor: pointer;
}

.item{
  padding-left: 20px;
}

.item a{
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
}

.item:hover{
  background-color: hsl(250deg 5% 23%);
}

.arrow-down{
  font-size: 16px;

}

/* ----------- */

/* CONTENT */

.content{
    background-color:hsl(0deg 0% 12%);
}

.top-header{
  height: 35px;
  background-color: hsl(0deg 0% 20%);
  display: flex;
  align-items: center;
}

.tab div{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 35px;
  border-right: 1px solid hsl(0deg 0% 12%);
  /* background-color: hsl(0deg 0% 18%); */
}

.tab div:hover .hide{
  color: white;
}

.tab p{
  margin-right: 5px;
  padding-left: 5px;
}
.not-save{
  color: hsl(33deg 45% 65%);
}
.save{
  color: hsl(129deg 42% 30%);
}
.hide{
  color: transparent;
}

